<app-cabecalho-pagina [pagina]="pagina"></app-cabecalho-pagina>

<app-grid *ngIf="isLista"
    [totalRegistros]="totalRegistros"
    [lista]="lista"
    [coluna]="coluna"
    (pesquisa)="pesquisar($event)"
    (adicionar)="botaoAdicionar()"
    (editar)="botaoEditar($event)"
    (excluir)="botaoExcluir($event)"
    (visualizar)="botaoVisualizar($event)"
    (chamar)="botaoChamar($event)"
    (p_paginacao)="quantidadePorPagina($event)">
</app-grid>

<mat-card class="card formulario" *ngIf="isFormulario && formulario">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">
      <h2>Cadastro de fornecedor</h2>
    </mat-card-title>    
    <mat-card-actions class="card-tools">  
      <button type="button" class="btn btn-tool" title="Ajuda">
        <mat-icon>help</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content class="card-body">
    <form [formGroup]="formulario">
      <div class="grid-container">
        <div class="grid-item">
          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput formControlName="cnpj" mask="00.000.000/0000-00">
          </mat-form-field>
          <div class="valide" *ngIf="formulario.get('cnpj')?.errors?.['required'] && formulario.get('cnpj')?.touched">
            Este campo é obrigatório
          </div>               
        </div>
        <div class="grid-item">
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput formControlName="telefone" mask="(00) 00000-0000">
          </mat-form-field>
          <div class="valide" *ngIf="formulario.get('telefone')?.errors?.['required'] && formulario.get('telefone')?.touched">
            Este campo é obrigatório
          </div>
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" maxlength="100">
        </mat-form-field>
        <div class="valide" *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
          Este campo é obrigatório
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao" maxlength="250"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="card-footer">
    <button type="submit" mat-stroked-button color="primary" (click)="salvar()" [disabled]="!formulario.valid">
      Salvar
    </button>      
    <button type="submit" mat-stroked-button color="primary" (click)="cancelar()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>