<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="cabecalho-titulo">
                    <h1>
                        {{ pagina }}
                    </h1>

                    @if (descricao) {
                        <p>
                            {{ descricao }}
                        </p>
                    }
                </div>
            </div>

            <div class="col-sm-6">
                <nav
                    aria-label="Navegação estrutural">

                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a routerLink="/">
                                Início
                            </a>
                        </li>

                        @for (
                            item of breadcrumb;
                            track item.titulo
                        ) {
                            <li class="breadcrumb-item">
                                @if (item.rota) {
                                    <a [routerLink]="item.rota">
                                        {{ item.titulo }}
                                    </a>
                                } @else {
                                    <span>
                                        {{ item.titulo }}
                                    </span>
                                }
                            </li>
                        }

                        <li
                            class="breadcrumb-item active"
                            aria-current="page">
                            {{ pagina }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>