<header class="app-header">

  <mat-toolbar>

    <img src="../../../../assets/img/logo.png" alt="Logo da aplicação Jornada">

    <span class="spacer"></span>

    <div class="links-toobar">
      <button mat-button>Sobre</button>


      @if (user$ | async; as PessoaUsuario) {
        <a routerLink="/perfil">
          Perfil    <!--<img src="../../../../assets/icones/user.png" alt="Ícone da pessoa usuário">-->
        </a>
        <button mat-stroked-button
        (click)="logout()">Sair</button>
      } @else {
        <button
          routerLink="/cadastro"
          mat-raised-button
        color="primary">Cadastre-se</button>
        <button routerLink="/login" mat-stroked-button>Login</button>
      }

    </div>
  </mat-toolbar>

</header>