<!-- Logo -->
<a [routerLink]="['/']" class="brand-link">
  <span class="brand-mark">
    <i class="fas fa-leaf" aria-hidden="true"></i>
  </span>
  <span class="brand-text">Agrihold</span>
</a>
<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-search">
    <app-sidebar-search></app-sidebar-search>
  </div>
  <!-- Sidebar Menu -->
  <nav class="mt-2" style="overflow-y: hidden">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      @for (item of menu; track item) {
      <app-menu-item [menuItem]="item"></app-menu-item>
      }
    </ul>
  </nav>
  <nav class="sidebar-settings">
    <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
      @for (item of menuConfiguracoes; track item) {
      <app-menu-item [menuItem]="item"></app-menu-item>
      }
    </ul>
  </nav>
</div>