
<app-banner></app-banner>


<app-cabecalho-pagina [param]="parametros"></app-cabecalho-pagina>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Novo fornecedor</h3>
          </div>

          <div class="card-body">
            
            <button mat-button>Salvar</button>
<button mat-raised-button color="primary">Cadastre-se</button>
<button mat-stroked-button>Login</button>



            <div class="form-group">
                <label>Nascimento</label> 
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm"
                    id="nascimento" 
                    formControlName="nascimento" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric">
                </div>
            </div>
            
            <div class="form-group">
                <label></label> 
                <div class="input-group">
                    
                </div>
            </div>






          </div>

          <form [formGroup]="formulario">

            <div class="card-body">
              <div class="form-group">

                <div class="row">
                    <div class="col-md-1">
                      
                    </div>                    
                </div>   

                
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                  
                </div>


                <div class="row">
                    <div class="col-md-6">
                       
                                     
                







<input type="text" class="form-control" 
    data-inputmask-alias="datetime"
    data-inputmask-inputformat="dd/mm/yyyy" data-mask=""
 inputmode="numeric">

<input type="text" class="form-control form-control-sm" id="cpf" formControlName="cpf" placeholder="Informe o seu CPF">

<input type="text" class="form-control form-control-sm" id="cidade" formControlName="cidade" placeholder="Informe a sua cidade">

<input type="text" class="form-control form-control-sm" id="email" 
formControlName="email"
placeholder="Informe o seu e-mail">

<input type="text" class="form-control form-control-sm" id="senha" 
formControlName="senha"
placeholder="Informe a sua senha">

<input type="text" class="form-control form-control-sm" id="telefone" 
formControlName="telefone"
placeholder="Informe o seu telefone">

<input type="text" class="form-control form-control-sm" id="estado" 
formControlName="estado"
placeholder="Informe o seu estado">

<input type="text" class="form-control form-control-sm" id="confirmaEmail" 
formControlName="confirmaEmail"
placeholder="Confirme o seu e-mail">

<input type="text" class="form-control form-control-sm" id="confirmaSenha" 
formControlName="confirmaSenha"
placeholder="Confirme o sua senha">

<input type="text" class="form-control form-control-sm" id="aceitaTermos" 
formControlName="aceitaTermos"
placeholder="Aceite os termos">
</div>                    
</div>   
                <app-formulario-validacao [formulario]="formulario"></app-formulario-validacao>

              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary"

              [disabled]="!formulario.valid"

              (click)="criar()"
              >Submit</button>
              <button type="submit" class="btn btn-primary"

              (click)="cancelar()"

              >Cancelar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
