<app-cabecalho-pagina [pagina]="pagina"></app-cabecalho-pagina>

<app-grid *ngIf="isLista"    
    [formatarComoMoeda]="formatarComoMoeda"

    [totalRegistros]="totalRegistros"
    [lista]="lista"
    [coluna]="coluna"
    (pesquisa)="pesquisar($event)"
    (adicionar)="botaoAdicionar()"
    (editar)="botaoEditar($event)"
    (excluir)="botaoExcluir($event)"
    (visualizar)="botaoVisualizar($event)"
    (chamar)="botaoChamar($event)"
    (p_paginacao)="quantidadePorPagina($event)">
</app-grid>

<div class="formulario">
  <section class="content">  
    <form [formGroup]="formulario" *ngIf="isFormulario && formulario">

      <div class="row">
        <div class="col-md-12 titulo-formulario">Dados do Item</div>
      </div>

      <div class="row">        
        <div class="col-md-2 titulo-campo">Fornecedor</div>
        <div class="col-md-10">
          <div class="fornecedor">
            <app-dropdown
            [control]="fornecedorControl"
            (objeto)="fornecedorChange()"
            point="fornecedor"></app-dropdown>
          </div>
          <!--
          <div *ngIf="formulario.get('fornecedor')?.errors?.['required'] && formulario.get('fornecedor')?.touched">
            Este campo é obrigatório
          </div>
          -->
        </div>
      </div>

      <div class="row">        
        <div class="col-md-2 titulo-campo">Produto</div>
        <div class="col-md-10">
          <div class="produto">
            <app-dropdown
            [control]="produtoControl"
            (objeto)="produtoChange()"
            point="produto"></app-dropdown>
          </div>
          <!--
          <div *ngIf="formulario.get('produto')?.errors?.['required'] && formulario.get('produto')?.touched">
            Este campo é obrigatório
          </div>
          -->
        </div>
      </div>

      <div class="row">        
        <div class="col-md-2 titulo-campo">Valor</div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="valor">
            <input type="text" matInput formControlName="valor" mask="0,00 || 000,00 || 0.000,00">
          </mat-form-field>
          <!--
          <div *ngIf="formulario.get('valor')?.errors?.['required'] && formulario.get('valor')?.touched">
            Este campo é obrigatório
          </div>
          <div *ngIf="formulario.get('valor')?.errors?.['mask'] && formulario.get('valor')?.touched">
            Formato inválido
          </div>
          -->
        </div>
      </div>
          
      <div class="row">
        <div class="col-md-2 titulo-campo">Quantidade</div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="quantidade">
            <input type="text" matInput formControlName="quantidade" mask="0 || 00 || 000">
          </mat-form-field>
          <!--
          <div *ngIf="formulario.get('quantidade')?.errors?.['required'] && formulario.get('quantidade')?.touched">
            Este campo é obrigatório
          </div>
          -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 botao">
          <button type="submit" mat-stroked-button color="primary" (click)="salvar()" [disabled]="!formulario.valid">
            Salvar
          </button>      
          <button type="submit" mat-stroked-button color="primary" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>
      
    </form>
  </section>
</div>