<app-cabecalho-pagina [pagina]="pagina"></app-cabecalho-pagina>

<app-grid *ngIf="isLista"    
    [formatarComoMoeda]="formatarComoMoeda"

    [totalRegistros]="totalRegistros"
    [lista]="lista"
    [coluna]="coluna"
    (pesquisa)="pesquisar($event)"
    (adicionar)="botaoAdicionar()"
    (editar)="botaoEditar($event)"
    (excluir)="botaoExcluir($event)"
    (visualizar)="botaoVisualizar($event)"
    (chamar)="botaoChamar($event)"
    (p_paginacao)="quantidadePorPagina($event)">
</app-grid>

<!--
<mat-card class="card formulario" *ngIf="isFormulario && formulario">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">
      <h2>Cadastro de item</h2>
    </mat-card-title>
    <mat-card-actions class="card-tools">  
      <button type="button" class="btn btn-tool" title="Ajuda">
        <mat-icon>help</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content class="card-body">
    <form [formGroup]="formulario">
      <div class="grid-container">
        <div class="grid-item">          
          <app-dropdown
          [control]="fornecedorControl"
          (objeto)="fornecedorChange()"
          class="full-width"
          label="Fornecedor"
          point="fornecedor"></app-dropdown>
          <div class="valide" *ngIf="formulario.get('fornecedor')?.errors?.['required'] && formulario.get('fornecedor')?.touched">
            Este campo é obrigatório
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input type="text" matInput formControlName="valor" mask="0,00 || 000,00 || 0.000,00">
          </mat-form-field>
          <div class="valide" *ngIf="formulario.get('valor')?.errors?.['required'] && formulario.get('valor')?.touched">
            Este campo é obrigatório
          </div>
          <div class="valide" *ngIf="formulario.get('valor')?.errors?.['mask'] && formulario.get('valor')?.touched">
            Formato inválido
          </div>
        </div>        
        <div class="grid-item">
          <app-dropdown 
          [control]="produtoControl"
          (objeto)="produtoChange()"
          class="full-width"
          label="Produto"
          point="produto"></app-dropdown>
          <div class="valide" *ngIf="formulario.get('produto')?.errors?.['required'] && formulario.get('produto')?.touched">
            Este campo é obrigatório
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input type="text" matInput formControlName="quantidade" mask="0 || 00 || 000">
          </mat-form-field>
          <div class="valide" *ngIf="formulario.get('quantidade')?.errors?.['required'] && formulario.get('quantidade')?.touched">
            Este campo é obrigatório
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="card-footer">
    <button type="submit" mat-stroked-button color="primary" (click)="salvar()" >
      Salvar
    </button>      
    <button type="submit" mat-stroked-button color="primary" (click)="cancelar()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
-->

<div class="tela">
  <section class="content">
  
    <form [formGroup]="formulario" *ngIf="isFormulario && formulario">

      <div class="row">
        <b><h1 class="titulo-cadastro">Dados de itens</h1></b>
      </div>
      <div class="row">        
        <div class="col-md-2 label">Fornecedor</div>
        <div class="col-md-10">         
          <app-dropdown
          [control]="fornecedorControl"
          (objeto)="fornecedorChange()"
          class="full-width"
          label="Fornecedor"
          point="fornecedor"></app-dropdown>
        </div>
      </div>

      <div class="row">        
        <div class="col-md-2 label">Valor</div>
        <div class="col-md-10">
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input type="text" matInput formControlName="valor" mask="0,00 || 000,00 || 0.000,00">
          </mat-form-field>
        </div>
      </div>
          
      <div class="row">        
        <div class="col-md-2 label">Produto</div>
        <div class="col-md-10">
          <app-dropdown 
          [control]="produtoControl"
          (objeto)="produtoChange()"
          class="full-width"
          label="Produto"
          point="produto"></app-dropdown>
        </div>
      </div>

      <div class="row">        
        <div class="col-md-2 label">Quantidade</div>
        <div class="col-md-10">
          <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input type="text" matInput formControlName="quantidade" mask="0 || 00 || 000">
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions>
        <button type="submit" mat-stroked-button color="primary" (click)="salvar()" >
          Salvar
        </button>      
        <button type="submit" mat-stroked-button color="primary" (click)="cancelar()">
          Cancelar
        </button>
      </mat-card-actions>    
      
    </form>  

  </section>
</div>