<button
  type="button"
  class="nav-link"
  [attr.aria-label]="menuItem.name"
  [matTooltip]="menuItem.name"
  [matTooltipDisabled]="
    !tooltipHabilitado
  "
  matTooltipPosition="right"
  [matTooltipShowDelay]="350"
  [matTooltipHideDelay]="75"
  matTooltipClass="sidebar-module-tooltip"
  [ngClass]="{
    active:
      isMainActive ||
      isOneOfChildrenActive,
    'painel-aberto':
      selecionado &&
      painelAberto,
    'modo-contextual':
      modoContextual
  }"
  [attr.aria-expanded]="
    isExpandable
      ? painelAberto
      : null
  "
  (click)="handleMainMenuAction($event)">

  <i
    class="nav-icon {{ menuItem.iconClasses }}"
    aria-hidden="true">
  </i>

  @if (!modoContextual) {
    <span class="nav-label">
      {{ menuItem.name }}
    </span>
  }

  @if (
    !modoContextual &&
    isExpandable &&
    menuItem.children.length > 0
  ) {
    <i
      class="right fas fa-angle-right"
      aria-hidden="true"
      [@rotate]="selecionado">
    </i>
  }
</button>