<mat-form-field class="input-container" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
        matInput
        [name]="label"
        [formControl]="control"
        ngDefaultControl
        [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOpcaoSelecionada($event)">
    <mat-option *ngFor="let dado of filteredOptions$ | async" [value]="dado">
        {{ dado.nome }}
    </mat-option>
    </mat-autocomplete>
</mat-form-field>
  