<mat-form-field class="input-container" appearance="outline">
  <input
    matInput
    [name]="label"
    [formControl]="control"
    ngDefaultControl
    [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onAutocompleteChange($event)">
      @for (dado of filteredOptions$ | async; track dado) {
        <mat-option [value]="dado">
          {{ dado.nome }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>