<app-dropdown hide-arrow class="user-menu">
    <div slot="button">
        <a class="nav-link">
            <app-image
                src="assets/img/default-profile.png"
                class="user-image-small"
                width="25"
                height="25"
                alt="User Image"
                rounded
            ></app-image>
            <span class="d-none d-md-inline">{{ userName }}</span>
        </a>
    </div>

    <div slot="menu">
        <div class="user-header bg-primary">
            <app-image
                src="assets/img/default-profile.png"
                class="user-image-big"
                alt="User Image"
                width="90"
                height="90"
                rounded
            ></app-image>

            <p>
                <span>{{ userName }}</span>
                <small>{{ userDescription }}</small>
            </p>
        </div>

        <div class="user-body">
            <div class="row">
                <div class="col-4 text-center">
                    <a href="#">Perfil</a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">Conta</a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">Ajustes</a>
                </div>
            </div>
        </div>

        <div class="user-footer">
            <a href="#" class="btn btn-default btn-flat">Perfil</a>
            <a
    class="btn btn-default btn-flat float-right"
    (click)="logout()"
>
    Sair
</a>
        </div>
    </div>
</app-dropdown>