<br>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-3">

              <!-- -------->           
              
              <div class="card">
                <div class="card-header">
                <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Primary Block Quotes
                </h3>
                </div>
                
                <div class="card-body">
                <!--
                  <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                  </blockquote>
                -->

                  <div class="callout callout-warning" style="height: 60px;">
                    <div class="row">
                      <div class="col-md-10">
                        <h4 style="margin-top: -12px;"><b>3</b></h4>  
                      
                        <h4 style="margin-top: -14px;">Produtos com o estoque minímo.</h4>
                      </div>
                      <div class="col-md-2" style="margin-top: 7px; margin: 10 10 10 10;">
                        <button class="btn btn-tool" matTooltip="Visualizar">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="callout callout-danger" style="height: 60px;">
                    <div class="row">
                      <div class="col-md-10">
                        <h4 style="margin-top: -12px;"><b>3</b></h4>  
                        <h4 style="margin-top: -14px;">Data vencimento</h4>
                      </div>
                      <div class="col-md-2" style="margin-top: 7px; margin: 10 10 10 10;">
                        <button class="btn btn-tool" matTooltip="Visualizar">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="callout callout-info" style="height: 60px;">
                    <div class="row">
                      <div class="col-md-10">
                        <h4 style="margin-top: -12px;"><b>1</b></h4>  
                        <h4 style="margin-top: -14px;">Pedido de compra</h4>
                      </div>
                      <div class="col-md-2" style="margin-top: 7px; margin: 10 10 10 10;">
                        <button class="btn btn-tool" matTooltip="Visualizar">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="callout callout-success" style="height: 60px;">
                    <div class="row">
                      <div class="col-md-10">
                        <h4 style="margin-top: -12px;"><b>4</b></h4>  
                        <h4 style="margin-top: -14px;">Compra efetuada</h4>
                      </div>
                      <div class="col-md-2" style="margin-top: 7px; margin: 10 10 10 10;">
                        <button class="btn btn-tool" matTooltip="Visualizar">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="callout" style="height: 60px;">
                    <div class="row">
                      <div class="col-md-10">
                        <h4 style="margin-top: -12px;"><b>8</b></h4>  
                        <h4 style="margin-top: -14px;">Estoque minímo</h4>
                      </div>
                      <div class="col-md-2" style="margin-top: 7px; margin: 10 10 10 10;">
                        <button class="btn btn-tool" matTooltip="Visualizar">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>  
                
              

<!----------->


            </div>
            <!-- ./col -->
            <div class="col-md-6">
                

              <div class="row">
                <div class="col-md-4">
                  <div class="info-box">
                    <div class="info-box-content">
                      <span class="info-box-text">Receita</span>
                      <span class="info-box-number">R$ 500, 00</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box">
                    <div class="info-box-content">
                      <span class="info-box-text">Despesa</span>
                      <span class="info-box-number">R$ 300, 00</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box">
                    <div class="info-box-content">
                      <span class="info-box-text">Liquido</span>
                      <span class="info-box-number">R$ 200, 00</span>
                    </div>
                  </div>
                </div>
              </div>
              


                    <mat-card class="card">
                      <mat-card-header class="card-header">
                        <mat-card-title class="card-title">
                          <h3>Mês</h3>
                        </mat-card-title>    
                        <mat-card-actions class="card-tools"></mat-card-actions>
                      </mat-card-header>
                      <mat-card-content class="card-body">
                        
                        <app-barchart></app-barchart>
      
                      </mat-card-content>
                    </mat-card>  
                  
                 
              

<!----------->

            </div>
           
            <!-- ./col -->
            <div class="col-md-3">
              
               <mat-card class="card">
                <mat-card-header class="card-header">
                  <mat-card-title class="card-title">
                    <h3>Receitas e Despesas</h3>
                  </mat-card-title>    
                  <mat-card-actions class="card-tools"></mat-card-actions>
                </mat-card-header>
                <mat-card-content class="card-body">
                  
                  <app-piechart></app-piechart>

                </mat-card-content>
              </mat-card>
              

<!----------->

            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

       




    </div>
    <!-- Main row -->
</section>
<!-- /.content -->
